<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="page-header">
        <a class="btn btn-xs btn-link pull-right" th:href="${'/events/' + eventtime.event.id}">Zurück zur
            Veranstaltung</a>
        <h2 th:text="${'Termin für die Veranstaltung '+ eventtime.event.name}"></h2>
        <h4 th:text="${'Am '+ eventtime.date + ' um ' + eventtime.time}"></h4>
        <h4 th:text="${'Höchstteilnehmerzahl: '+eventtime.maxParticipants}"></h4>
    </div>

    <div class="row">
        <div class="col-md-4">Beschreibung:</div>
        <div class="col-md-4" th:text="${eventtime.description}"></div>
    </div>
    <br>
    <br>
    <div class="row" th:if="${!eventtime.participants.empty}">Teilnehmer:
        <ol>
            <li th:each="participant : ${eventtime.participants}"><span th:text="${participant.firstname}"></span> (<span th:text="${participant.username}"></span>)</li>
        </ol>
    </div>
    <form th:action="${'/eventtime/' + eventtime.id + '/signup'}" method="post" class="form"
          th:if="${!#lists.contains(eventtime.participants, currentUser) and !participantsSize.equals(eventtime.maxParticipants)}">
        <button type="submit" class="btn btn-primary">Für diesen Termin anmelden</button>
    </form>
    <form th:action="${'/eventtime/' + eventtime.id + '/signout'}" method="post" class="form"
          th:if="${#lists.contains(eventtime.participants, currentUser)}">
        <button type="submit" class="btn btn-warning">Für diesen Termin abmelden</button>
    </form>

</div>
</body>
</html>
