<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="page-header">
        <form action="/logout" class="pull-right" method="post">
            <button type="submit" class="btn btn-xs btn-link">
                <span th:text="${#httpServletRequest.remoteUser}" />
                Abmelden
            </button>
        </form>
        <a sec:authorize="hasRole('HR')" href="/users/" class="btn btn-xs btn-link pull-right">Nutzerverwaltung</a>
        <!--<a href="/profile/" class="btn btn-xs btn-link pull-right">Profil- und Veranstaltungsverwaltung</a>-->
        <h1>Veranstaltungskalender</h1>
    </div>

    <ul class="list-unstyled">
        <li th:each="event : ${event}">
            <a th:href="${'/events/' + event.id}" th:text="${event.name}"></a>
        </li>
    </ul>

    <form action="/events" method="post" class="form-inline">
        <input name="name" type="text" placeholder="Name" class="form-control">
        <input name="category" type="text" placeholder="Kategorie" class="form-control">
        <button type="submit" class="btn btn-primary">Anlegen</button>
    </form>

</div>
</body>
</html>