<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <style type="text/css">
    .form-inline{display:none}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#edit").click(function(){
        $("#name").slideToggle();
        $("#category").slideToggle();

    });
});
</script>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <a class="btn btn-xs btn-link pull-right" href="/events/">Zu den Veranstaltungen</a>
        <h1 th:text="${'Veranstaltung: ' + event.name}"></h1>
        <h4 th:text="${'Kategorie: ' + event.category}"></h4>
        <div id="clickme">
        <form th:action="${'/events/' + event.id + '/edit/name'}" method="post" class="form">
            <div th:if="${param.nameaccepted}" class="form-group">
                <div class="text-success">
                    <strong>Name der Veranstaltung wurde erfolgreich geändert</strong>
                </div>
            </div>
            <div class="form-inline" id="name">
                <input name="namenew" type="text" placeholder="Name der Veranstaltung" class="form-control" required oninvalid="this.setCustomValidity('Bitte einen neuen Namen eingeben')"
                       oninput="setCustomValidity('')"/>
                <button type="submit" class="btn btn-primary">Name ändern</button>
            </div>
        </form>

            <p>
        <form th:action="${'/events/' + event.id + '/edit/category'}" method="post" class="form">
            <div th:if="${param.categoryaccepted}" class="form-group">
                <div class="text-success">
                    <strong>Kategorie wurde erfolgreich geändert</strong>
                </div>
            </div>
            <div class="form-inline" id="category">
                <input name="categorynew" type="text" placeholder="Kategorie" class="form-control" required oninvalid="this.setCustomValidity('Bitte eine neue Kategorie eingeben')"
                       oninput="setCustomValidity('')"/>
                <button type="submit" class="btn btn-primary">Kategorie ändern</button>

            </div>
        </form>
            </p>
        </div>
        <br>
        <table class="table">
            <tr>
            <td>
                <button class="btn btn-primary" id="edit" th:if="${#httpServletRequest.remoteUser.equals(event.owner.username)}">Bearbeiten</button>
            </td>
            <td>
                <form th:if="${#httpServletRequest.remoteUser.equals(event.owner.username)}"
                      th:action="${'/events/' + event.id + '/delete'}"
                      method="post" class="form">
                <button type="submit" class="btn btn-danger">Löschen</button>
                </form>
            </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
    </table>
    </div>

    <table class="table" th:if="${!event.times.empty}">
        <tr>
            <th>Termin</th>
            <th>Datum</th>
            <th>Uhrzeit</th>
            <th>Dauer</th>
            <th>Teilnehmer</th>
        </tr>
        <tr th:each="time : ${event.times}">
            <td th:text="${time.title}"></td>
            <td th:text="${time.date}"></td>
            <td th:text="${time.time}"></td>
            <td th:text="${time.duration} + ' Std.'"></td>
            <td><span th:text="${time.participants.size()}"/> von <span th:text="${time.maxParticipants}"/></td>
            <td>
                <a class="btn btn-info" th:href="${'/eventtime/' + time.id}">Anschauen</a>
            </td>
            <td th:if="${#httpServletRequest.remoteUser eq event.owner.username}">
                <a class="btn btn-primary" th:href="${'/eventtime/' + time.id + '/edit'}">Bearbeiten</a></td>
            <td th:if="${#httpServletRequest.remoteUser eq event.owner.username}">
                <form th:action="${'/eventtime/'+ time.id + '/delete'}" method="post" class="form">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </form>
            </td>
        </tr>
    </table>
    <p th:if="${event.times.empty}">Es gibt derzeit keine Termine zu der Veranstaltung.</p>
    <br>
    <br>
    <div th:if="${#httpServletRequest.remoteUser eq event.owner.username}">
        <h2>Neuer Termin</h2>
        <form th:action="${'/events/' + event.id + '/eventTime'}" method="post" th:object="${eventTime}">
            <div class="form-group">
                <input name="title" type="text" placeholder="Titel des Termins" class="form-control"
                       th:field="*{title}"/>
                <label class="text-danger" th:errors="*{title}"/>
            </div>
            <div class="form-group">
                <input name="description" type="text" placeholder="Beschreibung" class="form-control"
                       th:field="*{description}"/>
                <label class="text-danger" th:errors="*{description}"/>
            </div>
            <div class="form-group">
                <input name="maxParticipants" type="number" placeholder="Höchstteilnehmerzahl" class="form-control"
                       th:field="*{maxParticipants}"/>
                <label class="text-danger" th:errors="*{maxParticipants}"/>
            </div>
            <div class="form-group">Datum
                <input name="date" type="date" placeholder="Datum" class="form-control" th:field="*{date}"/>
                <label class="text-danger" th:errors="*{date}"/>
            </div>
            <div class="form-group">Uhrzeit
                <input name="time" type="time" placeholder="Uhrzeit" class="form-control" th:field="*{time}"/>
                <label class="text-danger" th:errors="*{time}"/>
            </div>
            <div class="form-group">Dauer des Termins
                <input name="duration" type="time" placeholder="Dauer des Termins" class="form-control" th:field="*{duration}"/>
                <label class="text-danger" th:errors="*{duration}"/>
            </div>
            <button type="submit" class="btn btn-primary">Eintragen</button>
        </form>
    </div>

</div>
</body>
</html>