<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="page-header">
        <a class="btn btn-xs btn-link pull-right" href="/events/">Zu den Veranstaltungen</a>
        <h1 th:text="${'Veranstaltung: ' + event.name}"></h1>
        <h4 th:text="${'Kategorie: ' + event.category}"></h4>
        <br>
        <form th:if="${#httpServletRequest.remoteUser eq event.owner}" th:action="${'/events/' + event.id + '/delete'}"
              method="post" class="form">
            <button type="submit" class="btn btn-danger">Löschen</button>
        </form>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Termin</th>
            <th>Datum</th>
            <th>Uhrzeit</th>
            <th>Teilnehmer</th>
        </tr>
        <tr th:each="time : ${event.times}">
            <td th:text="${time.title}"></td>
            <td th:text="${time.date}"></td>
            <td th:text="${time.time}"></td>
            <td><span th:text="${time.participants.size()}"/> von <span th:text="${time.maxParticipants}"/></td>
            <td>
                <a class="btn btn-info" th:href="${'/eventtime/' + time.id}">Anschauen</a>
                <form th:if="${#httpServletRequest.remoteUser eq event.owner}"
                      th:action="${'/eventtime/'+ time.id + '/delete'}" method="post" class="form">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </form>
            </td>
        </tr>
    </table>
    <p th:if="${event.times.empty}">Es gibt derzeit keine Termine zu der Veranstaltung.</p>
    <br>
    <br>
    <div th:if="${#httpServletRequest.remoteUser eq event.owner}">
        <h2>Neuer Termin</h2>
        <form th:action="${'/events/' + event.id}" method="post" class="form-inline">
            <input name="title" type="text" placeholder="Titel des Termins" class="form-control"/>
            <input name="description" type="text" placeholder="Beschreibung" class="form-control"/>
            <input name="maxParticipants" type="number" placeholder="Höchstteilnehmerzahl" class="form-control"/>
            <input name="date" type="text" placeholder="Datum" class="form-control"/>
            <input name="time" type="text" placeholder="Uhrzeit" class="form-control"/>
            <button type="submit" class="btn btn-primary">Eintragen</button>
        </form>
    </div>

</div>
</body>
</html>