<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">

    <div class="page-header">
        <a class="btn btn-xs btn-link pull-right" href="/users/">Zu der Übersicht aller Nutzer</a>
        <h1 th:text="${'Mitarbeiter '+ user.username + ' bearbeiten'}"></h1>
    </div>
    <table class="table">
        <tr>
            <th>Personalnummer ändern</th>
        </tr>
    </table>
    <form th:action="${'/users/edit/username/' + user.username}" method="post" class="form-group">
        <div th:if="${param.userexist}" class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-danger">
                <strong>Personalnummer ist schon vergeben
                    <br> Bitte eine andere Personalnummer angeben</strong>
            </div>
        </div>
        <div th:if="${param.usernameaccepted}" class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-success">
                <strong>Personalnummer wurde erfolgreich geändert</strong>
            </div>
        </div>
        <div class="form-inline">
            <input name="usernamenew" type="text" placeholder="Neue Personalnummer" class="form-control"/>
            <button type="submit" class="btn btn-primary">Personalnummer ändern</button>
        </div>
    </form>
    <table class="table">
        <tr>
            <th>Vorname ändern</th>
        </tr>
    </table>
    <form th:action="${'/users/edit/firstname/' + user.username}" method="post" class="form-group">
        <div th:if="${param.firstnameaccepted}" class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-success">
                <strong>Der Vorname wurde erfolgreich geändert</strong>
            </div>
        </div>
        <div class="form-inline">
            <input name="firstnamenew" type="text" placeholder="Neuer Vorname" class="form-control"/>
            <button type="submit" class="btn btn-primary">Vorname ändern</button>
        </div>
    </form>
    <table class="table">
        <tr>
            <th>Passwort ändern</th>
        </tr>
    </table>
            <form th:action="${'/users/edit/password/' + user.username}" method="post" class="form-group">
                <div th:if="${param.passnew}" class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-danger">
                        <strong>Das neue Passwort wurde nicht korrekt wiederholt</strong>
                    </div>
                </div>
                <div th:if="${param.passempty}" class="form-group">
                    <div class="col-sm-offset-2 text-danger">
                        <strong>Das Passwort darf nicht leer sein</strong>
                    </div>
                </div>
                <div th:if="${param.passaccepted}" class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-success">
                        <strong>Das Passwort wurde erfolgreich geändert</strong>
                    </div>
                </div>
                <div class="form-inline">
                    <input name="passwordnew" type="password" placeholder="Neues Passwort" class="form-control"/>
                    <input name="passwordnew2" type="password" placeholder="Neues Passwort wiederholen" class="form-control"/>
                    <button type="submit" class="btn btn-primary">Passwort ändern</button>
                </div>
            </form>
    <table class="table">
        <tr>
            <th>Rolle ändern</th>
        </tr>
    </table>
    <form th:action="${'/users/edit/role/' + user.username}" method="post" class="form-group">
        <div th:if="${param.roleaccepted}" class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-success">
                <strong>Die Rolle wurde erfolgreich geändert</strong>
            </div>
        </div>
        <div class="form-inline">
                <select name="rolenew">
                    <option value="" disabled selected hidden>auswählen</option>
                    <option value="HR">HR</option>
                    <option value="ORGANIZER">ORGANIZER</option>
                    <option value="USER">USER</option>
                </select>
            <button type="submit" class="btn btn-primary">Rolle ändern</button>
        </div>
    </form>

</div>
</body>
</html>